header nav {
    position: fixed;
    height: 100vh;
    width: 20rem;
    right: -20rem;
    transition: .4s;
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(8px);
    z-index: 8;
}

#main {
    #main-img {
        position: relative;
        height: 190vh;
        width: 100%;
        #main-img-navout {
            position: fixed;
            z-index: 9;
            right: 0;
            top: 0;
            margin: 20px;
            border-radius: 50%;
            display: grid;
            padding: 6px;
            #main-img-navout-span {
                transition: .2s;
                font-size: 32px;
            }
        }
        #main-img-img {
            top: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url('../img/forest.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 0;
        }
        #main-img-text {
            position: absolute;
            top: 50vh;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            text-align: center;
            h1 {
                margin: 0 0 1rem 0;
                font-size: 90px;
                font-weight: 100;
                text-shadow: 4px 4px 4px rgb(102, 102, 102);
            }
            p {
                font-size: 30px;
                text-shadow: 4px 4px 4px rgb(102, 102, 102);
            }
        }
        #main-img-commands {
            position: absolute;
            top: 110vh;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            h1 {
                text-align: center;
                color: rgb(26, 26, 26);
                font-weight: 100;
                font-size: 40px;
                margin-bottom: 1rem;
            }
            table tr {
                margin: 10px 0;
                td {
                    border: 2px solid rgba(0, 0, 0, 0.233);
                    padding: 3px 8px;
                    border-radius: 8px;
                    font-size: 20px;
                    backdrop-filter: blur(8px);
                    background: rgba(255, 255, 255, 0.212);
                    transition: .4s;
                    cursor: default;
                    &:hover {
                        background: rgba(105, 105, 105, 0.212);
                    }
                }
            }
            #main-img-invite-button {
                transform: translateX(-50%);
                font-size: 40px;
                padding: 12px 18px;
                border-radius: 10px;
                margin-top: 1.8rem;
                display: block;
                margin: 1.8rem auto 0 auto;
            }
        }
    }
}

footer {
    position: relative;
    bottom: 0;
    z-index: 3;
    width: 100%;
    text-align: center;
    background: #000;
    padding: 20px 0;
    #footer-support-text {
        position: relative;
        width: 30%;
        display: inline-block;
        font-size: 18px;
        color: #797979;
        a {
            color: rgb(184, 184, 184);
        }
    }
}

@media only screen and (max-width: 800px) {
    footer #footer-support-text {
        width: 80%;
    }
}

.btn {
    backdrop-filter: blur(6px);
    background: #00000050;
    transition: .3s;
    &:hover {
        background: #00000060;
    }
    &:active {
        background: #00000086;
    }
}